*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section{
    width: 100%;
    padding: 0 3%;
    background-color: yellowgreen;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

section article{
    width: 30%;
}
